<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brodybeans2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/home"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Specific_Menu"></activity>
        <activity android:name=".Customization" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoadingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CafeHomeActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".LogInActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
        />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/menu"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".CartActivity"
            android:label="@string/cart"
            android:parentActivityName=".CartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".OrdersActivity"
            android:label="My Order"
            android:parentActivityName=".OrdersActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
    </application>

</manifest>